@import "../globals";

.Header {
  position: fixed;
  top: 0; left: 0;
  padding: $base-unit;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .Header-Main {

    .Header-About {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      padding: $base-unit;

      color: $color-white;
      background-color: $color-black;

      transform: translateY(-100%);

      h1 + h1 {
        margin-top: 2*$base-unit;
      }
    }

    h1 {
      @include header-1;
    }

    &:hover {
      cursor: help;
      .Header-About {
        animation: appear 2s linear 1s forwards;
      }
    }
  }

  .Header-Nav {
    @include header-1;

    // hack
    .active {
      display: none;
    }
    .active + .active {
      display: block;
    }
  }
}

@keyframes appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
