@import "../globals";

.Header {
  position: fixed;
  top: 0; left: 0;
  padding: $base-unit;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;

  h1 {
    @include header-1;
  }

  .Header-Nav {
    @include header-1;

    // hack
    .active {
      display: none;
    }
    .active + .active {
      display: block;
    }
  }
  .Header-About {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding: $base-unit;

    color: $color-white;
    background-color: $color-black;

    transform: translateY(-100%);
    animation: appear 1s linear;
  }
}

@keyframes appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
