@import "include-media/dist/include-media";

$base-font-size-small: 14px;
$base-font-size: 16px;
$base-font-size-large: 18px;
$base-line-height: 1.2;
$base-unit: 1/2 * 1rem;

$color-white: white;
$color-black: black;
$color-grey: #E2E2E2;
$color-blue: #0000FF;
$color-green: #00FF00;

$breakpoints: (
  small: 768px,
  medium: 1024px,
  large: 1280px
);

%font-regular {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

%font-medium {
  font-family: "Helvetica Neue", Arial sans-serif;
  font-style: normal;
  font-weight: 500;
}
%font-bold {
  font-family: "Helvetica Neue", Arial sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin header-1 {
  @extend %font-bold;
  font-size: rem(16px);
}

@mixin header-2 {
  @extend %font-regular;
  font-size: rem(16px);

  & + * {
    margin-top: rem(18px);
  }
}

@mixin header-3 {
  @extend %font-regular;
  font-size: rem(16px);
  text-decoration: underline;

  margin-top: rem(18px);
}

@mixin body {
  @extend %font-regular;
  font-size: 1rem;
}

@function rem($pixels) {
  @return $pixels/16px * 1rem;
}
