@import "include-media/dist/include-media";

$breakpoints: (
  mobile: 768px,
  laptop: 1280px,
  desktop: 1680px
);

$base-font-size-xs: 12px;
$base-font-size-s: 14px;
$base-font-size: 16px;
$base-font-size-l: 20px;

$base-line-height: 1.2;
$base-unit: 1/2 * 1rem;

$color-white: white;
$color-black: black;
$color-grey: #E2E2E2;
$color-blue: #0000FF;
$color-green: #00FF00;
$color-purple: #9966ff;
$color-yellow: #FFFF00;
$color-red: #FF0000;

%font-regular {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

%font-medium {
  font-family: "Helvetica Neue", Arial sans-serif;
  font-style: normal;
  font-weight: 500;
}
%font-bold {
  font-family: "Helvetica Neue", Arial sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin header-1 {
  font-size: $base-font-size;
}

@mixin header-2 {
  @extend %font-regular;
  font-size: $base-font-size;

  & + * {
    margin-top: $base-font-size + 2px;
  }
}

@mixin header-3 {
  @extend %font-regular;
  font-size: rem($base-font-size);
  text-decoration: underline;

  margin-top: rem($base-font-size + 2px);
}

@mixin body {
  @extend %font-regular;
  font-size: 1rem;
}

@function rem($pixels) {
  @return $pixels/$base-font-size * 1rem;
}
