@import "./globals";

html {
  @include media("<=mobile") {
    font-size: $base-font-size-xs;
  }
  @include media(">mobile", "<=laptop") {
    font-size: $base-font-size-s;
  }
  @include media(">laptop", "<=desktop") {
    font-size: $base-font-size;
  }
  @include media(">desktop") {
    font-size: $base-font-size-l;
  }
}

body {
  padding: $base-unit;
  line-height: $base-line-height;
  @extend %font-regular;
  background-color: $color-grey;
}

a {
  color: $color-black;
  text-decoration: none;
}
