@import "./globals";

body {
  padding: $base-unit;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @extend %font-regular;
  background-color: $color-grey;
}

a {
  color: $color-black;
  text-decoration: none;
}
